<!DOCTYPE html>

  <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


<div id="app">
  <!--<product-list :products="theProducts" title="Product list"></product-list>-->
  <button v-if="listType == 'product-list'" @click="listType = 'product-list-simple'">Show less detail</button>
  <button v-else @click="listType = 'product-list'">Show more detail</button>
  <component :is="listType" :products="theProducts" title="Product list"></component>
</div>

<script>
  //components
  Vue.component('product-list-simple', {
    template: '<div class="product-list">\
                <h2>{{title}}</h2>\
                <ul>\
                  <li v-for="product in products">\
                    <img :src="product.image" class="small"> {{product.name}}</img>\
                </ul>\
              </div>',
    props: ['title', 'products']
  });

  Vue.component('product-list', {
    template: '<div class="product-list">\
                <h2>{{title}}</h2>\
                <ul>\
                  <product-list-item v-for="product in products" :product="product">\
                  </product-list-item>\
                </ul>\
              </div>',
    props: ['title', 'products']
  });

  //encap separate item
  Vue.component('product-list-item', {
    template:
              '<li>\
                    <img :src="product.image">\
                    <p><strong>{{product.name}}</strong></p>\
                    <p>{{product.description}}</p>\
               </li>',
    props: ['product']
  });

  //vue instance
  var vm = new Vue({
    el: '#app',
    data: {
      theProducts: [],
      listType: 'product-list'
    },
    created: function() {
      $.getJSON('https://hplussport.com/api/products')
        .done(function(data){
          vm.theProducts = data;
        });
    }
  });

</script>

<style>
  .product-list h2 {
    margin-bottom: 40px;
    color: blue;
  }
  .product-list img.small {
    width:100px;
  }
</style>

</html>