<!DOCTYPE html>

  <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


<div id="app">
  <!--managing with slots-->
  <product-list title="Shop our award-winning product line" :products="theProducts">
    <!--element will appear in this slot-->
    <p slot="top">Where will this element apear?</p>
    <em slot="bottom">Limited availability</em>
  </product-list>

  <product-list-flexible :products="theProducts" the-title="Custom layout">
    <template scope="props">
      <strong>{{props.product.name}}</strong> - {{props.product.description}}
    </template>
  </product-list-flexible>


</div>

<script>
  //components
  Vue.component('product-list-simple', {
    template: '<div class="product-list">\
                <h2>{{title}}</h2>\
                <ul>\
                  <li v-for="product in products">\
                    <img :src="product.image" class="small"> {{product.name}}</img>\
                </ul>\
              </div>',
    props: ['title', 'products']
  });

  Vue.component('product-list', {
    template: '<div class="product-list">\
                <h2>{{title}}</h2>\
                <slot name="top"></slot>\
                <ul>\
                  <product-list-item v-for="product in products" :product="product">\
                  </product-list-item>\
                   <slot name="bottom"></slot>\
                </ul>\
              </div>',
    props: ['title', 'products']
  });

   Vue.component('product-list-flexible', {
    template: '<div class="product-list">\
                <h2>{{title}}</h2>\
                <slot name="top"></slot>\
                <ul>\
                  <li v-for="product in products">\
                    <slot :product="product"></slot>\
                  </li>\
                </ul>\
              </div>',
    props: ['title', 'products']
  });

  //encap separate item
  Vue.component('product-list-item', {
    template:
              '<li>\
                    <img :src="product.image">\
                    <p><strong>{{product.name}}</strong></p>\
                    <p>{{product.description}}</p>\
               </li>',
    props: ['product']
  });

  //component

  //vue instance
  var vm = new Vue({
    el: '#app',
    data: {
      theProducts: [],
      listType: 'product-list'
    },
    created: function() {
      $.getJSON('https://hplussport.com/api/products')
        .done(function(data){
          vm.theProducts = data;
        });
    }
  });

</script>

<style>
  .product-list h2 {
    margin-bottom: 40px;
    color: blue;
  }
  .product-list img.small {
    width:100px;
  }
</style>

</html>